<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="Videre.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="Videre.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
  <userSettings>
        <Videre.Settings>
              <setting name="OSUsername" serializeAs="String">
                    <value />
              </setting>
              <setting name="FontSize" serializeAs="String">
                    <value>50</value>
              </setting>
              <setting name="FontPosition" serializeAs="String">
                    <value>0</value>
              </setting>
              <setting name="SubtitleTimeOffset" serializeAs="String">
                    <value>0</value>
              </setting>
              <setting name="ListenPort" serializeAs="String">
                    <value>13337</value>
              </setting>
              <setting name="VidereTheme" serializeAs="String">
                    <value>BaseLight</value>
              </setting>
              <setting name="VidereAccent" serializeAs="String">
                    <value>Sienna</value>
              </setting>
              <setting name="MediaFolders" serializeAs="String">
                    <value />
              </setting>
        </Videre.Settings>
    </userSettings>
    <applicationSettings>
        <Videre.Settings>
            <setting name="ProgID" serializeAs="String">
                <value>Videre.VideoPlayer</value>
            </setting>
        </Videre.Settings>
    </applicationSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-8.0.0.0" newVersion="8.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>