<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="MahApps.Metro" version="1.2.4.0" targetFramework="net452" />
  <package id="MahApps.Metro.Resources" version="0.4.0.0" targetFramework="net452" />
  <package id="xZune.Vlc" version="16.01.17" targetFramework="net452" developmentDependency="true" />
  <package id="xZune.Vlc.Wpf" version="16.01.17" targetFramework="net452" developmentDependency="true" />
</packages>